// @import "./../../../../styles/scss/variables";
@import "@styles/scss/index.scss";

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  z-index: 1;
  width: 100%;

  &--black {
    color: $color-black;
  }

  &__nav {
    display: none !important;
  }

  @media (min-width: $s) {
    display: flex;
    &__nav {
      display: flex !important;
      width: 100%;
    }
  }
}

.logo {
  display: flex;
  float: left;
  background-size: contain;
  width: 200px;
  background-repeat: no-repeat;
  height: 40px;
  margin: 12px 16px 12px 0px;
  // background: rgba(255, 255, 255, 0.2);
  background-image: url("./../../../../../public/assets/images/logo-header.jpeg");
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.hamburger {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

  @media (min-width: $s) {
    justify-content: center;
  }
}
