// @import "@/styles/scss/_variables.scss";

.wrapper {
}

.main {
  padding: 0px 50px;
  margin-top: 64px;
  /* max-width: 1140px; */
  min-height: calc(100vh - 70px) !important;
  padding-bottom: 70px;
  color: black;
  background-color: white;
}
