@import '@styles/scss/index.scss';

.login {
  background-image: url('./../../assets/images/bg-login.webp');
  height: 100vh;
  background-repeat: initial;
  position: relative;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 28px;
}

.logo {
  background-image: url('./../../assets/images/logo.png');
}

.card {
  z-index: 100;
  @include abs-center();
  width: 100%;
  max-width: 600px;
  height: 400px;
  border-radius: 1rem;
  background-color: white;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cardLeft {
  background-image: url('./../../assets/images/bg-card_right.jpeg');
  background-position: center;
  background-size: cover;
  border-right: thin solid #000;
  border-radius: 1rem 0 0 1rem;
}

.cardRight {
  @include flex-center();
  flex-direction: column;
}

.formButton {
  background-color: blue;
  border: none;
  height: 40px;
  line-height: 40px;
  width: 100%;
  max-width: 220px;
  border-radius: 4px;
  text-transform: uppercase;
  color: $color-white;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
    @include transition();
    color: blue;
    background-color: $color-white;
    border: thin solid blue;
  }
}
